@model ForgetPasswordViewModel 
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All"> </div>

    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
   <input type="submit" vlaue="Reset Password"/>
</form>